<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>*</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,PUT,DELETE</param-value>
        </init-param>
    </filter>
 
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
    	<servlet-name>PedidoService</servlet-name>
    	<display-name>PedidoService</display-name>
    	<description></description>
    	<servlet-class>controller.PedidoService</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>PedidoService</servlet-name>
    	<url-pattern>/PedidoService</url-pattern>
    </servlet-mapping>
    
</web-app>
