body{
    background-color: E5E5E5;    
    height: 100vh;
    margin: 0;
  
}
.login{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;
    right: 760px;
    top: 150px;
}
.direita{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    left: 120px;
    top: 200px;
    
}

.barra{
    
position: absolute;
width: 6px;
height: 100%;
left: 685px;
top: 15px;

background: #C4C4C4;
border-radius: 30px;
display: flex;

}

input{
    background: #ffffff;
    border-radius: 8px;
    width: 330px;
    height: 30px;
    border: 0;
    margin: 10px 0px ;
}

button{
    background: #840705;
    width: 330px;
    height: 30px;
    
    border-radius: 8px;
    color: white;
    border: 0;


}

.img{
width: 80px;
height: 80px;
margin:0  auto;

}
.img img{
width: 80px;
height: 80px;

}

.logo{
    position: absolute;
    width: auto;
    height: auto;
    left: 150px;
    top: 200px;    
}

h4 {
    margin: 0 10px;
}


