.Menu{
    width: 290px;

}

.Menu .infoPerfil {
    width: 100% ;
    height: 269px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #840705;

    color: white;
}


.Menu .infoMenu {
    width: 100% ;
    height: 369px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    color:black;
}

.Menu .infoPerfil h2,h4 {
    width: auto;
    text-align: center;
}

.Menu .infoPerfil .img2 {
    width: 70px;
    height: 70px;
    margin: 0 auto ;
    border-radius: 50%;

}

.Menu .infoPerfil .img1{
    width: 130px;
    height: 35px;
    margin: 10px auto ;
    margin-bottom: 70px;
}

.Menu .infoMenu .OpcoesMenu {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.Menu .infoMenu .OpcoesMenu a {

    font-size: 22px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    margin: 15px 25px;
    transition: color 0.8s;
}

.Menu .infoMenu .OpcoesMenu a:hover{
    color: #b40707;
}

.Menu .infoMenu .OpcoesMenu img{
    margin-bottom: -3px;
    margin-right: 3px;
    margin-left: 20px;
}